{% extends "layout/layout.twig" %}

{% block css %}
{% endblock %}

{% block js %}
    {% webpack_entry_js 'web/reportStockPack' %}
{% endblock %}

{% block title_all_page %}
  <title> Nihon Packing : Report Stock Pack </title>
{% endblock %}

{% block content %}
  <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                  <div class="row">
                    <div class="col-12">
                        <div class="modal-content">
                            <form id="form-reportStockPack" action="api/export_report_stock_pack">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h2><i class="fas fa-ruler-combined"></i> Report Stock Pack</h2>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="PartID-report">Part Code</label>
                                                <select class="selectpicker form-control" id="PartID-report" name="part_id"
                                                    title="Please select Part Code" data-live-search="true">
                                                      <option value="0">All products</option> 
                                                    {% for product in products %}
                                                      <option value="{{ product.id }}">{{ product.part_code }}</option>                                                  
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="searchIssueStartDate">From Date</label>
                                            <div class='input-group' id='datetimepickerFirstTime'>
                                                <input size="10%" type="text" autocomplete="off" class="form-control" id="searchIssueStartDate" name="startDate" value="{{startDate}}">
                                                    <span class="input-group-append">
                                                        <span class="input-group-text">
                                                            <span class="far fa-calendar-alt"></span>
                                                        </span>
                                                    </span>&nbsp;&nbsp;To&nbsp;&nbsp;
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="searchIssueEndDate">To Date</label>
                                            <div class='input-group' id='datetimepickerLastTime'>
					                            <input size="10%" type="text" autocomplete="off" class="form-control" id="searchIssueEndDate" name="endDate" value="{{endDate}}">&nbsp;&nbsp;
                                                    <span class="input-group-append">
                                                        <span class="input-group-text">
                                                            <span class="far fa-calendar-alt"></span>
                                                        </span>
                                                    </span>
                                            </div>
                                        </div>
                                        <div class="col-12 text-center">
                                            <button type="submit" class="btn btn-primary">Generate Excel</button>
                                        </div>
                                    </div>
                                </div>                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}